* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(150deg, rgba(226, 191, 191, 0.821), #cde9eb);
    padding: 15px;
}

button:hover {
    opacity: 0.8;
}

.to-do-top, .to-do-bottom {
    margin: 0px auto;
    padding: 40px 35px;
    background-color: #fff;
    text-align: center;
}

.to-do-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.to-do-top .app-title {
    font-size: 42px;
}

.form-container {
    margin: 20px 0;
}

.to-do-bottom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.add-btn {
    outline: none;
    border: none;
    padding: 10px 19px;
    background-color: #485081cf;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
}

#add-text, #search {
    margin-top: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(132, 132, 132);
    background-color: #f1eff8;
}

#add-text {
    min-width: 20rem;
}

#search {
    min-width: 25rem;
    background-color: #f8eff7;
}

.table-list {
    min-width: 100%;
    border-spacing: 0;
    margin-top: -40px;
}

.table-list .table-head th {
    background-color: #ededee;
    font-size: 20px;
    padding: 5px;
}

td {
    font-size: 17px;
    padding: 20px 0px;
}

td:hover {
    cursor: pointer;
}

.table-list .delete-btn, .table-list .complete-btn {
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.table-list .delete-btn {
    background-color: #db2b2be9;
    color: #fff;
    margin-bottom: 5px;
    padding: 8px 12px;
}

.table-list .complete-btn {
    background-color: green;
    color: #fff;
    padding: 8px 17px;
}

.completed-task {
    color: #6c7878b5;
    text-decoration: line-through;
}