* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(150deg, #e2bfbfd1, #cde9eb);
    padding: 15px;
}

.all {
    box-shadow: 1px 1px 80px 1px #a19aa0 inset;
    border-radius: 20px;
    background: linear-gradient(180deg, #ffffffd1, #def4f6);
}

button:hover {
    opacity: 0.8;
}

.to-do-top, .to-do-bottom {
    margin: 0px auto;
    padding: 40px 35px;
    text-align: center;
}

.to-do-top .app-title {
    font-size: 42px;
}

.form-container {
    margin: 20px 0;
}

.add-btn {
    outline: none;
    border: none;
    padding: 10px 19px;
    background-color: #485081cf;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
}

#add-text, #search {
    margin-top: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(132, 132, 132);
    background-color: #f1eff8;
}

#add-text {
    min-width: 20rem;
}

#search {
    min-width: 25rem;
}

.table-list {
    min-width: 100%;
    border-spacing: 0;
    margin-top: -40px;
}

.table-list .table-head th {
    background-color: #dededed2;
    font-size: 20px;
    padding: 5px;
}

td {
    font-size: 18px;
    padding: 20px 0px;
}

td:hover {
    cursor: pointer;
}

.table-list .delete-btn, .table-list .complete-btn {
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.table-list .delete-btn {
    background-color: #db2b2be9;
    color: #fff;
    margin-bottom: 5px;
    padding: 8px 12px;
}

.table-list .complete-btn {
    background-color: green;
    color: #fff;
    padding: 8px 17px;
}

.completed-task {
    color: #6c7878b5;
    text-decoration: line-through;
}

@media only screen and (max-width: 510px) {
    .container {
        background: none;
        box-shadow: 1px 1px 30px 2px #c1bac1 inset;
    }

    .all {
        box-shadow: none;
        background: linear-gradient(150deg, #ffffffd1, #cde9eb);
    }

    .to-do-top .app-title {
        font-size: 35px;
    }

    .to-do-bottom {
        padding: 40px 10px;
    }

    #add-text {
        min-width: 10rem;
    }

    #search {
        min-width: 16rem;
    }

    td {
        font-size: 15px;
    }

    .table-list .table-head th {
        font-size: 16px;
    }
}